# agent-framework-core==1.0.0b260212
# agent-framework-devui==1.0.0b260212
# agent-framework-orchestrations==1.0.0b260212
# docling
faiss-cpu
px
litellm
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-litellm
langchain-text-splitters
# Agentic Framework
autogen
langchain
pdf2image
weasyprint
markdown
Pillow
pymupdf
python-dotenv
python-docx
streamlit
matplotlib
seaborn
ipykernel
yfinance
html2text
pytest
pytest-cov
pytest-asyncio
